
#header{
        color: #1A2A40;
        background-color: #EBF4F7;
        
        width: 100%;
        overflow: hidden;
        text-align: left;
        height: 100%;
        font-size: 20px;
		letter-spacing: 27px;
        top: 0px;
		position: sticky;
        padding-right: 200%;
		padding-left:10%;       
}

#logo{
	float: right;
}

.sidebar{
	
	font-size: 10px;
	text-align: center;
	background-color: #EBF4F7;
	color: #EBF4F7;
	height: 100%;
	right: 0;
	top: 0;
	position: fixed;
	width: 15%;	
}

.sidebar ul{
	list-style: none;
}
.sidebar a{
	color: #1A2A40;
	
}
a{
    color: #F2A30F;
}
body{
	font-size: 25px;
        color: #F2A30F;
        background-color: #1A2A40;
        margin-right: 25%;
        margin-top: 0px;
        margin-left: 0px;
		float: left;
        position: relative;
}


#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #EBF4F7;
    padding-top: 2px;
    border-width: thin;
    color: #1A2A40;
}
