#header{
        color: #EBF4F7;
        background-color: #1A2A40;
        border: 8px;
        text-align: left;
}
body{
        color: #F2A30F;
        background-color: #EBF4F7;
}
.footer{
        float: bottom;
}
nav.navigation{
        text-align: center;
        border: 3px #2474A6;
        background-color: #1A2A40;
        color: #EBF4F7;
        height: 100%;
        right: 0;
        top: 0;
        position: fixed;
        width: 15%;
}

nav.navigation ul{
        list-style: none;
}
a:link,a:hover{
        color: #E00B27
}
img{
        border: #2474A6
}
